<div class="card mb-3 mt-3">
    <div class="card-header" data-bs-toggle="collapse" data-bs-target="#polarChartCollapse" aria-expanded="false"
        aria-controls="polarChartCollapse">PolarArea Chart : <b>{{question}}</b></div>
    <div class="collapse" id="polarChartCollapse">
        <div class="card-body">
            <script>
                document.addEventListener('DOMContentLoaded', () => {
                    const ctx3 = document.getElementById("{{chartType}}").getContext('2d');
                    const plotData = JSON.parse('{{plotvalue|safe}}');
                    const optionData = JSON.parse('{{option|safe}}');

                    let options = []
                    let votes = []

                    for (let i = 0; i < optionData.length; i++) {
                        options.push(optionData[i].option);
                        if (plotData.length > i) {
                            votes.push(plotData[i].total);
                        } else {
                            votes.push(0);
                        }
                    }
                    const polarChart = new Chart(ctx3, {
                    type: "{{chartType}}",
                    data: {
                        labels: options,
                        datasets: [{
                            label: '# of Votes',
                            data: votes,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(245, 40, 145, 0.8)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(245, 40, 145, 0.8)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1,
                        }]
                    },
                });
                });
            </script>
            <div>
                <canvas id="{{chartType}}" width="200" height="200"></canvas>
            </div>
        </div>
    </div>
</div>